* {
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #eee;
}
#header {
  position: fixed;
  display: flex;
  top: 0px;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  background: ble;
  align-items: center;
}
imge {
  width: 100%;
}
#header-img {
  width: 75px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 200px) {
  #header-img {
    width: 45px;
    height: 40px;
  }
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  font-size: 25px;
  margin: 0px 12vw;
}
.nav-link {
  text-decoration: non;
  color: black;
}

.container {
  padding-top: 5%;
}
#form {
  margin: 50px auto;
  text-align: center;
}
.box {
  border: 1px solid black;
  height: 180px;
  width: 200px;
  margin: 20px auto;
}
.text {
  width: 99%;
  display: block;
  text-align: center;
  margin: 20px 0px;
  font-size: 25px;
}
#one {
  display: flex;
}
#video {
  display: block;
  margin: auto;
}
